body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ba5400;
  margin: 0;
  padding: 0;
}

.master {
  margin: 50px auto;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.master img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

h1 {
  font-size: 2em;
  color: #333;
  margin: 20px 0;
}.services {
  text-align: left;
  margin: 20px 0;
}

.services h3 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.services ul {
  list-style-type: none;
  padding: 0;
}

.services ul li {
  margin: 5px 0;
  font-size: 1.2em;
  color: #555;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
